
*{
 padding: 0;
 margin: 0;

}
.navbar {
     background-image: linear-gradient(to right,#FAFFAF , #96C9F4); 
    /* background-image: url(background.jpg); */
    /* background-size: 10%; */
      height: 5%;  
      gap: 100px; 
     font-size: 15px;
     font-family:'Times New Roman', Times, serif;
}
 .logo {
 border-radius: 0%; 
 }

.logo img{
    height: 100px;
    width: 100px;
    margin-top: 10px;
    border-radius: 20rem; 
    text-align: center;
}

.menu {
    /* float: right; */
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2mm;
    a:hover {
        color: red;
        text-decoration: underline;
    }

}

nav ul li a {
    /* padding: 20px;
    /* margin-bottom: 20px ;  */
    /* margin: 10% */
    text-align: center;
    color:black;
    a:hover {
        color: red;
        text-decoration: underline;
    }
}
main {
    /* background-image: url("back-img.jpg");
    background-repeat: no-repeat; */
}
button {
    background-color:rgb(26, 20, 20);
    color: white;
    border-radius: 1%;
    font-size: 15px;

}

 i {
     color: white;  

} 


.box {
    /* margin-left: 500px;  */
    /* margin-right: 500px;  */
    margin-top: 60px;
    margin-bottom: 10px;
    display: flex;;
    flex-direction: initial;
}

.card {
    height: 80%; 
    width: 20%;
    /* height: 50%; */
    /* margin-bottom: 10rem; */
     /* border: 3px solid black;  */
     margin-bottom: 10rem;
     display: inline-block;
     margin:5px 60px;
}

.card img{
    height:20rem;
    width: 15.9rem;
    justify-content: center;
     border: 3px solid black; 
     background-size: cover;
     margin-bottom: 1rem;
}

.container {
    font-size:90%;
    font-family:Arial, Helvetica, sans-serif;
}
footer  {
    background-color: black;
    color: white;
    width: 100%;
}

.foot-1 {
    color: white;
    display: inline-block;
    /* justify-content: space-between; */
    margin-left: 20px;
    text-decoration: none;
    list-style: none;
    /* align-content: center; */
}

.foot-2 {
    color: white;
    display: inline-block;
    /* justify-content: space-between; */
    margin-left: 300px;
    text-decoration:none;
    list-style: none; 

}

.foot-3 {
    color: white;
    display: inline-block;
     justify-content: space-evenly; 
    margin-left: 300px;
    text-decoration:none;
    list-style: none;
}
.foot-3 ul{
    display: flex;
    display: block;
}

footer li {
    text-decoration:none;
    list-style: none
}
